@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make CKEditor tables show vertical and horizontal lines */
.ck-content table {
    width: 100%;
    border-collapse: collapse;
}

.ck-content th,
.ck-content td {
    border: 1px solid #444; /* dark lines for visibility */
    padding: 6px;
}
